.button {
   cursor: pointer;

   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;

   padding: 6px 28px;
   border-radius: 4px;

   font: var(--font-sm-bold);
   color: var(--color-light-100);

   transition: 0.2s ease;

   &:focus-visible {
      outline: 2px solid var(--color-info-500);
   }

   &.fullWidth {
      width: 100%;
   }
}

.primary {
   background-color: var(--color-primary-500);
   box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

   &:hover {
      background-color: var(--color-primary-300);
   }

   &:active {
      background-color: var(--color-primary-700);
   }

   &:disabled {
      background-color: var(--color-primary-900);
   }
}

.secondary {
   background-color: var(--color-dark-300);
   box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

   &:hover {
      background-color: var(--color-dark-100);
   }

   &:active {
      background-color: var(--color-dark-500);
   }

   &:disabled {
      background-color: var(--color-dark-300);
   }
}

.primary,
.secondary {
   &:disabled {
      cursor: not-allowed;
      color: var(--color-light-900);
   }
}

.icon {
   padding: 6px;
   border-radius: 50%;
}

.link {
   padding: 0;
   color: var(--color-primary-500);
   text-decoration: underline;

   &:hover {
      text-decoration: none;
   }
}

.ghost {
   gap: 6px;
   transition: all 0.2s ease;

   &:disabled {
      cursor: not-allowed;
      color: var(--color-dark-300);
   }

   &:not(:disabled):hover {
      background-color: var(--color-dark-500);
      box-shadow: 0 0 0 2px var(--color-dark-500);
   }

   &:not(:disabled):active,
   &:not(:disabled):focus-visible {
      background-color: var(--color-dark-300);
      box-shadow: 0 0 0 2px var(--color-dark-300);
   }
}
