.avatar {
   display: flex;
   align-items: end;
   justify-content: center;
   margin-bottom: 6px;
}

.form {
   display: flex;
   flex-direction: column;
}

.avatarIcon {
   width: 96px;
   height: 96px;
   border-radius: 50%;
   background-color: var(--color-dark-500);

   img {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      object-fit: cover;
   }
}

.avatarEdit {
   margin-left: -25px;
   padding: 4px;
   border-radius: 4px;
   background-color: var(--color-dark-300);
}
