.inputWrapper {
   display: flex;
   gap: 8px;
   align-items: center;

   height: 36px;
   padding: 0 12px;
   border: 1px solid var(--color-dark-300);
   border-radius: 2px;

   color: var(--color-dark-100);

   transition: all 0.2s ease 0s;
}

.iconWrapper {
   cursor: default;

   display: flex;
   align-items: center;
   justify-content: center;

   transition: all 0.2s ease 0s;
}

.inputWrapper:not(:has(.input:disabled)) .iconWrapper:hover {
   cursor: pointer;
   transform: scale(1.05);
}

.inputWrapper:focus-within {
   border-color: var(--color-info-700);
   color: var(--color-light-100);
}

.inputWrapper:has(.input.error) {
   border-color: var(--color-danger-300);
   color: var(--color-danger-300);
}

.inputWrapper .input {
   all: unset;

   width: 100%;
   height: 100%;
   border: none;

   font: var(--font-base-regular);

   background-color: inherit;
   outline: none;

   transition: all 0.2s ease 0s;
}

.inputWrapper:not(:focus-within, :has(.input:disabled)):hover {
   border-color: var(--color-dark-100);
   background-color: var(--color-dark-700);
}

.inputWrapper:has(.input.error):hover {
   border-color: var(--color-danger-300);
   background-color: var(--color-dark-700);
}

.inputWrapper:has(:focus-within):not(:has(.input.error)) {
   color: var(--color-light-100);
}

.inputWrapper .input:disabled {
   cursor: default;
}

.inputWrapper:focus-within:not(:has(.input:disabled)):hover {
   background-color: var(--color-dark-700);
}

.inputWrapper .input::placeholder {
   font: var(--font-base-regular);
}

.inputWrapper .error::placeholder {
   color: var(--color-danger-300);
}

.inputLabel {
   margin-bottom: 1px;
   color: var(--color-dark-100);
}

input[type='text']::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}

input[type='text']::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
   display: none;
}
