.inputWrapper {
   display: flex;
   gap: 8px;
   align-items: center;

   height: 36px;
   padding: 0 12px;
   border: 1px solid var(--color-dark-300);
   border-radius: 2px;

   transition: all 0.2s ease 0s;
}

.inputWrapper .iconWrapper,
.inputWrapper .startIcon,
.inputWrapper .endIcon {
   display: flex;
   align-items: center;
   justify-content: center;

   color: var(--color-dark-100);

   transition: color 0.2s ease 0s;
}

.inputWrapper .iconWrapper {
   cursor: default;
   transition: all 0.2s ease 0s;
}

.inputWrapper:focus-within .iconWrapper,
.inputWrapper:focus-within .startIcon,
.inputWrapper:focus-within .endIcon {
   color: var(--color-light-100);
}

.inputWrapper .iconWrapper:not(:has(.input:disabled)):hover {
   cursor: pointer;
   transform: scale(1.1);
}

.inputWrapper:focus-within {
   border-color: var(--color-info-700);
   color: var(--color-light-100);
}

.inputWrapper:not(:focus-within, :has(.input:disabled)):hover {
   border-color: var(--color-dark-100);
   background-color: var(--color-dark-700);
}

.inputWrapper:focus-within:not(:has(.input:disabled)):hover {
   background-color: var(--color-dark-700);
}

.inputWrapper .input {
   all: unset;

   width: 100%;
   height: 100%;
   border: none;

   font: var(--font-base-regular);
   color: var(--color-dark-100);

   background-color: inherit;
   outline: none;

   transition: all 0.2s ease 0s;
}

.inputWrapper .input::placeholder {
   font: var(--font-base-regular);
}

.inputWrapper .input:focus-visible {
   color: var(--color-light-100);
}

.inputWrapper .input:disabled {
   cursor: default;
}

.inputWrapper .error {
   border-color: var(--color-danger-300);
   color: var(--color-danger-300);
}

.inputWrapper .error::placeholder {
   color: var(--color-danger-300);
}

.inputLabel {
   margin-bottom: 1px;
   color: var(--color-dark-100);
}

input[type='text']::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}

input[type='text']::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
   display: none;
}
