.wrapper {
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-bottom: 27px;
}

.linkContainer {
   display: flex;
}

.link {
   color: var(--color-light-100) !important;
   text-decoration: none !important;
   transition: color 0.2s ease 0s;

   &:hover {
      color: var(--color-dark-100) !important;
   }
}

.learnContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cardCover {
   width: 400px;
   height: 200px;
   object-fit: cover;
}

.deckActions {
   display: flex;
   gap: 10px;
}

.update {
   width: 100%;
   padding: 12px 6px;

   & > * {
      padding: 0;
   }
}
