.answerWrapper {
   max-width: 440px;
}

.answerText {
   margin-left: 4px;
}

.withImage {
   margin-bottom: 18px;
}

.next {
   margin-top: 29px;
}

.label {
   margin-bottom: 13px;
}

.rate {
   margin-top: 16px;
}
