.crop {
   position: relative;

   overflow: hidden;

   width: 100%;
   height: 306px;
   margin-inline: auto;

   background: #333;

  img{
    object-fit: cover;
  }

   .reactEasyCrop_Container {
      position: absolute;
      inset: 0;
   }

   .reactEasyCrop_CropArea {
      border: 2px solid white;
      box-shadow: 0 0 0 9999em rgb(0 0 0 / 50%);
   }
}
