.radioLabel {
   cursor: pointer;
   user-select: none;
}

.radioIndicatorWrapper {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 16px;
   height: 16px;
   border: 2px solid var(--color-primary-500);
   border-radius: 50%;

   transition: all 0.2s ease;

   .radioIndicator {
      width: 8px;
      height: 8px;
      border-radius: 50%;

      background-color: var(--color-primary-500);

      transition: all 0.2s ease;
   }
}

.radioGroup {
   display: flex;
   gap: 12px;
}

.horizontal {
   flex-direction: row;
   gap: 22px;
}

.vertical {
   flex-direction: column;
}

.label {
   cursor: pointer;

   display: flex;
   gap: 12px;
   align-items: center;

   outline: none;

   transition: all 0.2s ease;

   &[aria-disabled='true'],
   &:has(.radioItem:disabled) {
      cursor: not-allowed;

      .radioIndicatorWrapper {
         pointer-events: none;
         cursor: not-allowed;
         border: 2px solid var(--color-primary-900);
      }

      .radioIndicator {
         pointer-events: none;
         cursor: not-allowed;
         background-color: var(--color-primary-900);
      }

      .radioLabel {
         pointer-events: none;
         cursor: not-allowed;
         color: var(--color-light-900);
      }

      .radioItem {
         pointer-events: none;
         cursor: not-allowed;
      }
   }

   &:not([aria-disabled='true'], :has(.radioItem:disabled)):focus-visible .radioIndicatorWrapper {
      background: var(--color-dark-700, rgb(23 23 23));
   }

   &:not([aria-disabled='true'], :has(.radioItem:disabled)):hover .radioIndicatorWrapper {
      background-color: var(--color-dark-500, rgb(51 51 51));
      box-shadow: 0 0 0 8px var(--color-dark-500);
   }

   &:not([aria-disabled='true'], :has(.radioItem:disabled)):active .radioIndicatorWrapper {
      background-color: var(--color-primary-900, rgb(56 39 102 / 100%));
      box-shadow: 0 0 0 8px var(--color-primary-900);
   }
}

.errorMessage {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 8px;
}
