.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 33px 36px 60px;
}

.header {
   margin-bottom: 50px;
}

.content {
   margin-bottom: 65px;
}

.text {
   max-width: 348px;
   margin-top: 19px;
   color: var(--color-light-900, rgb(195 193 199 / 100%));
}

.footer {
   display: flex;
   flex-direction: column;
}
