.wrapper {
   display: flex;
   flex-direction: column;
   width: 420px;
   padding: 33px 36px 41px;
}

.header {
   margin-bottom: 27px;
}

.content {
   display: flex;
   flex-direction: column;
}

.avatar {
   display: flex;
   align-items: end;
   justify-content: center;
   margin-bottom: 6px;
}

.avatarIcon {
   width: 96px;
   height: 96px;
   border-radius: 50%;
   background-color: var(--color-dark-500);

   img {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      object-fit: cover;
   }
}

.avatarEdit {
   margin-left: -25px;
   padding: 4px;
   border-radius: 4px;
   background-color: var(--color-dark-300);
}

.editable {
   display: flex;
   gap: 6px;
   align-items: center;
   justify-content: center;
}

.nickname {
   margin-left: 28px;
}

.nicknameEdit {
   padding: 4px;
   border-radius: 4px;
}

.email {
   margin-bottom: 13px;
   color: var(--color-dark-100);
}

.footer {
   display: flex;
   justify-content: center;
}

.save {
   margin-top: 36px;
}
