.iconButton {
   display: flex;
   align-items: center;
   justify-content: center;

   padding: 6px;
   border-radius: 50%;

   transition: all 0.2s ease;

   &:disabled {
      cursor: not-allowed;
      color: var(--color-dark-300);
   }

   &:not(:disabled):hover {
      background-color: var(--color-dark-500);
      box-shadow: 0 0 0 2px var(--color-dark-500);
   }

   &:not(:disabled):active,
   &:not(:disabled):focus-visible {
      background-color: var(--color-dark-300);
      box-shadow: 0 0 0 2px var(--color-dark-300);
   }
}
