.sliderInput {
   min-width: 36px;
   max-width: 44px;
}

.sliderWrapper {
   display: flex;
   gap: 12px;
   align-items: center;
   justify-content: center;
}

.sliderRoot {
   touch-action: none;
   user-select: none;

   position: relative;

   display: flex;
   align-items: center;

   width: 200px;
   height: 20px;
}

.sliderTrack {
   position: relative;

   flex-grow: 1;

   height: 5px;
   border-radius: 10px;

   background-color: var(--color-primary-900);
}

.sliderRange {
   position: absolute;
   height: 100%;
   border-radius: 10px;
   background-color: var(--color-primary-500);
}

.sliderThumb {
   display: block;

   width: 20px;
   height: 20px;
   border: 4px solid var(--color-primary-500);
   border-radius: 10px;

   background-color: var(--color-light-100);

   transition: border-color 0.2s ease 0s;

   &:hover {
      border-color: var(--color-primary-700);
   }

   &:focus {
      outline: none;
   }
}
