.selectTrigger {
   user-select: none;

   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: space-between;

   width: 100%;
   padding: 6px 12px;
   border: 1px solid var(--color-dark-300);
   border-radius: 2px;

   color: var(--color-light-100);

   outline: none;

   transition: all 0.2s ease;

   &:disabled {
      cursor: not-allowed;
      color: var(--color-dark-300);
   }

   &:hover {
      background-color: var(--color-dark-500);
   }

   &:not(.error):focus-visible {
      border-color: var(--color-info-700);
   }

   &:not(.error):hover:not(:disabled) {
      border-color: var(--color-dark-100);
   }

   &[data-state='open'] {
      border-radius: 2px 2px 0 0;
   }
}

.selectViewport {
   max-height: 200px;
}

.selectContent {
   width: var(--radix-select-trigger-width);
   border: 1px solid var(--color-dark-300);
   border-top-color: transparent;
   border-radius: 0 0 2px 2px;

   background-color: var(--color-dark-900);
}

.selectItem {
   user-select: none;
   padding: 6px 12px;
   outline: none;
   transition: all 0.2s ease;

   &[data-disabled] {
      cursor: not-allowed;
      color: var(--color-dark-300);
   }

   &:not([data-disabled]):hover {
      cursor: pointer;
      color: var(--color-primary-300);
      background: var(--color-primary-900, rgb(56 39 102 / 100%));
   }
}

.iconWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.selectIcon {
   transform: rotate(-180deg);
   transition: all 0.2s ease;
}

[data-state='open'] .selectIcon {
   transform: rotate(0deg);
}

.openedSelectIcon {
   transform: rotate(0deg);
}

.selectLabel {
   color: var(--color-dark-100);
}

.error {
   border-color: var(--color-danger-500);
}
