@use 'themes/dark' as dark;
@use 'variables/global' as global;
@use 'reset';

body {
   font: var(--font-base-regular);
   color: var(--color-light-100);
   background-color: var(--color-dark-900);
}

.full-width {
   width: 100%;
}

.no-wrap {
   white-space: nowrap;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.align-center {
   text-align: center;
}

.align-justify {
   text-align: justify;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   background: linear-gradient(
      rgb(255 255 255 / 0%) 0%,
      rgb(0 174 255 / 4%) 50%,
      rgb(255 255 255 / 0%) 51%,
      rgb(0 174 255 / 3%) 100%
   );
   box-shadow: 0 0 0 1000px transparent inset;
   transition: background-color 5000s ease-in-out 0s;

   -webkit-text-fill-color: var(--color-light-100);
}
