@use 'themes/dark' as dark;
@use 'variables/global' as global;
@use 'reset';

body {
   font: var(--font-base-regular);
   color: var(--color-light-100);
   background-color: var(--color-dark-900);
}

body::-webkit-scrollbar,
.thin-scroll-container::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

body::-webkit-scrollbar-track,
.thin-scroll-container::-webkit-scrollbar-track {
   background: transparent;
}

body::-webkit-scrollbar-thumb,
.thin-scroll-container::-webkit-scrollbar-thumb {
   border: 2px solid transparent;
   border-radius: 4px;
   background-color: var(--color-dark-100);
   transition: background-color 0.2s ease;
}

body::-webkit-scrollbar-thumb:hover,
.thin-scroll-container::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
   background-color: var(--color-dark-500);
}

main {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;

   width: 100%;
}

.full-width {
   width: 100%;
}

.no-wrap {
   white-space: nowrap;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.align-center {
   text-align: center;
}

.align-justify {
   text-align: justify;
}

.container {
   max-width: 1240px;
   margin-inline: auto;
   padding: 0 16px;
}

.margin-bottom {
   padding-bottom: 56px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   background-color: transparent !important;
   box-shadow: 0 0 0 1000px transparent inset !important;
   caret-color: var(--color-light-100) !important;

   transition:
      background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s !important;

   -webkit-text-fill-color: var(--color-light-100) !important;
}
