@use 'themes/dark' as dark;
@use 'variables/global' as global;
@use 'reset';

body {
   font: var(--font-base-regular);
   color: var(--color-light-100);
   background-color: var(--color-dark-900);
}

.full-width {
   width: 100%;
}

.no-wrap {
   white-space: nowrap;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.align-center {
   text-align: center;
}

.align-justify {
   text-align: justify;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   background-color: transparent !important;
   box-shadow: 0 0 0 1000px transparent inset !important;
   caret-color: var(--color-light-100) !important;

   transition:
      background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s !important;

   -webkit-text-fill-color: var(--color-light-100) !important;
}
