@use 'themes/dark' as dark;
@use 'variables/global' as global;
@use 'reset';

body {
   font: var(--font-base-regular);
   color: var(--color-light-100);
   background-color: var(--color-dark-900);
}

.full-width {
   width: 100%;
}

.no-wrap {
   white-space: nowrap;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.align-center {
   text-align: center;
}

.align-justify {
   text-align: justify;
}
