.sliderInput {
   min-width: 36px;
   max-width: 44px;
}

.sliderWrapper {
   display: flex;
   gap: 12px;
   align-items: center;
   justify-content: center;
}

.sliderRoot {
   touch-action: none;
   user-select: none;

   position: relative;

   display: flex;
   align-items: center;

   width: 200px;
   height: 20px;
}

.input {
   padding: 2px;
   text-align: center;
}

.sliderWrapper:has(.sliderRoot.disabled) {
   cursor: not-allowed;
}

.sliderRange {
   position: absolute;
   height: 100%;
   border-radius: 10px;
   background-color: var(--color-primary-500);

   &[aria-disabled='true'] {
      opacity: 0.6;
      background-color: var(--color-primary-700);
   }
}

.sliderTrack {
   position: relative;

   flex-grow: 1;

   height: 5px;
   border-radius: 10px;

   background-color: var(--color-primary-900);
}

.sliderThumb {
   cursor: pointer;

   display: block;

   width: 20px;
   height: 20px;
   border: 4px solid var(--color-primary-500);
   border-radius: 10px;

   background-color: var(--color-light-100);

   transition:
      transform 0.2s ease 0s,
      border-color 0.2s ease 0s;

   &:focus {
      outline: none;
   }

   &:active {
      transform: scale(0.9);
   }

   &:not([aria-disabled='true']):hover {
      border-color: var(--color-primary-700);
   }

   &[aria-disabled='true'] {
      border: 4px solid var(--color-primary-700);
      opacity: 0.8;
   }
}
