.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 25px 36px;
}

.header {
   margin-bottom: 50px;
}

.content {
   margin-bottom: 60px;
}

.text {
   max-width: 348px;
   margin-top: 19px;
}

.footer {
   display: flex;
   flex-direction: column;
}

.footerText,
.text {
   color: var(--color-light-900, rgb(195 193 199 / 100%));
}

.footerText {
   margin-top: 20px;
}

.footerLink {
   margin-top: 11px;
   color: var(--color-primary-500);
   text-decoration: underline !important;

   &:hover {
      text-decoration: none !important;
   }
}
