.wrapper {
   display: flex;
   flex-direction: column;
   padding: 33px 36px 25px;
}

.header {
   margin-bottom: 27px;
}

.content {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 60px;
}

.inputs {
   display: grid;
   gap: 24px;
}

.fields {
   margin-bottom: 66px;
}

.options {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   column-gap: 16px;
}

.forgotPassword {
   grid-column: -1;
   grid-row: 2;

   &:hover {
      text-decoration: underline;
   }
}

.footer {
   display: grid;
   gap: 7px;
   justify-content: center;
   margin-top: 20px;
}

.footerText {
   color: var(--color-light-900, rgb(195 193 199 / 100%));
}

.footerLink {
   color: var(--color-primary-500);
   text-decoration: underline !important;

   &:hover {
      text-decoration: none !important;
   }
}
