.wrapper {
   width: 420px;
   padding: 25px 36px;
}

.title {
   margin-bottom: 27px;
}

.inputs {
   display: grid;
   gap: 24px;
   margin-bottom: 66px;
}

.footer {
   display: grid;
   gap: 7px;
   justify-content: center;
   margin-top: 20px;
}

.footerText {
   color: var(--color-light-900, rgb(195 193 199 / 100%));
}

.footerLink {
   color: var(--color-primary-500);
   text-decoration: underline !important;

   &:hover {
      text-decoration: none !important;
   }
}
