.header {
   position: sticky;
   z-index: 1;
   inset: 0;

   height: 60px;
   margin-bottom: 36px;
   padding: 12px 0;
   border-bottom: 1px solid var(--color-dark-500);

   background-color: var(--color-dark-700);
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.link {
   &:hover {
      svg {
         filter: drop-shadow(0 0 5px var(--color-primary-500));
         transition: all 0.2s ease 0s;
      }
   }
}
