.header {
   position: sticky;
   inset: 0;

   height: 60px;
   margin-bottom: 36px;
   padding: 12px 0;
   border-bottom: 1px solid var(--color-dark-500);

   background-color: var(--color-dark-700);
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
