.wrapper {
   width: 100%;
}

.header {
   display: flex;
   gap: 16px;
   justify-content: space-between;
   margin-bottom: 10px;
}

.filters {
   display: flex;
   gap: 24px;
   align-items: end;
   margin-bottom: 36px;
}

.input {
   flex: 1;
}

.name {
   overflow: hidden;
   max-width: 140px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.label {
   margin-bottom: 5px;
}

.tabs {
   min-height: 36px;
}

.clear {
   margin-left: 12px;
}

.icons {
   display: flex;
   gap: 4px;
   justify-content: end;
}

.paginationWrapper {
   display: flex;
   justify-content: start;
   margin-top: 24px;
}

.cover {
   width: 118px;
   height: 48px;
   object-fit: cover;
}

.link {
   display: flex;
   gap: 10px;
   align-items: center;
   transition: all 0.2s ease 0s;

   &:hover {
      opacity: 0.8;
   }
}
