.table {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid var(--color-dark-500);
}

.thead {
   position: relative;

   &::before {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;

      width: 100%;
      height: 100%;

      background-color: var(--color-dark-500);
   }
}

.sortable {
   cursor: pointer;
}

.tr {
   border-bottom: 1px solid var(--color-dark-500);
}

.td {
   padding: 6px 24px;
}

.th {
   user-select: none;
   padding: 6px 24px;
}

.title {
   margin-right: 4px;
}

.arrowWrapper {
   position: absolute;
   margin-top: 1px;
}

.arrowDown {
   transform: rotate(-180deg);
}

.icons {
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;

   padding: 6px 24px;
}
