.table {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid var(--color-dark-500);
}

.thead {
   position: relative;

   &::before {
      content: '';

      position: absolute;
      z-index: -1;
      top: 0;

      width: 100%;
      height: 100%;

      background-color: var(--color-dark-500);
   }
}

.sortable {
   cursor: pointer;
   transition: 0.2s ease 0s;

   &:hover {
      background-color: var(--color-dark-100);
   }
}

.tr {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
   align-items: center;
   border-bottom: 1px solid var(--color-dark-500);
}

.td {
   padding: 6px 24px;
   font: var(--font-sm-regular);
}

.th {
   user-select: none;
   padding: 6px 24px;
}

.arrowWrapper {
   position: absolute;
   margin-top: 1px;
   margin-left: 4px;
}

.arrowDown {
   transform: rotate(-180deg);
}

.icons {
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;

   padding: 6px 24px;
}
