.item {
   display: flex;
   align-items: center;

   & > * {
      display: flex;
      align-items: center;
      justify-content: start;

      width: 100%;
      padding: 12px 6px;
   }
}

.item:focus,
.item:focus-visible,
.trigger:focus,
.trigger:focus-visible {
   outline: none;
   box-shadow: none;
}

.content {
   padding: 6px 12px;
}

.separator {
   width: 100%;
   height: 1px;
   color: var(--color-dark-500);
   background-color: var(--color-dark-500);

   &:first-child {
      display: none;
   }
}

.container {
   will-change: transform, opacity;
   animation-duration: 400ms;
   animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.container[data-side='top'] {
   animation-name: slide-down-fade;
}

.container[data-side='right'] {
   animation-name: slide-left-fade;
}

.container[data-side='bottom'] {
   animation-name: slide-up-fade;
}

.container[data-side='left'] {
   animation-name: slide-right-fade;
}

.label {
   display: flex;
   gap: 8px;
   align-items: center;
   padding-bottom: 12px;
}

.avatar {
   user-select: none;

   display: flex;
   align-items: center;
   justify-content: center;

   width: 36px;
   height: 36px;
   border-radius: 50%;

   outline: none;
   box-shadow: none;

   img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
   }
}

.avatarIcon {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 36px;
   height: 36px;
   border-radius: 50%;

   background-color: var(--color-primary-500);
}

.triggerIcon {
   user-select: none;
   width: 36px;
   height: 36px;
   border-radius: 50%;

   img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
   }
}

.triggerDefault {
   user-select: none;

   width: 40px;
   height: 40px;
   padding: 0;
   border-radius: 50%;
}

.info {
   display: grid;
}

.email {
   color: var(--color-dark-100);
   overflow: hidden;
   max-width: 160px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.item[data-disabled] {
   pointer-events: none;
}

.arrow {
   fill: var(--color-dark-100);
}

@keyframes slide-up-fade {
   from {
      transform: translateY(2px);
      opacity: 0;
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slide-right-fade {
   from {
      transform: translateX(-2px);
      opacity: 0;
   }

   to {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes slide-down-fade {
   from {
      transform: translateY(-2px);
      opacity: 0;
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slide-left-fade {
   from {
      transform: translateX(2px);
      opacity: 0;
   }

   to {
      transform: translateX(0);
      opacity: 1;
   }
}
