.root {
   display: flex;
   flex-direction: column;
   width: 300px;
   box-shadow: 0 2px 10px var(--black-a4);
}

.list {
   display: flex;
   flex-shrink: 0;
   border-bottom: 1px solid var(--mauve-6);
}

.trigger {
   user-select: none;

   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;

   padding: 6px 24px;
   border: 1px solid var(--color-dark-300);
   border-right: none;

   color: var(--color-light-100);

   background-color: inherit;

   transition: background-color 0.2s ease 0s;

   &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
   }

   &:last-child {
      border-right: 1px solid var(--color-dark-300);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
   }

   &:not(.disabled):hover {
      border-color: var(--color-dark-100);
      border-right: 1px solid var(--color-dark-100);
      background-color: var(--color-dark-300);

      &:last-child {
         border-right: 1px solid var(--color-dark-100);
      }

      &:not(:last-child) {
         z-index: 1;
         margin-right: -1px;
      }
   }

   &:not(.disabled)[data-state='active'] {
      cursor: default;
      border-color: transparent;
      background-color: var(--color-primary-500);
   }
}

.disabled {
   cursor: not-allowed;
   color: var(--color-dark-300);
   background-color: var(--color-dark-700);
}

.content {
   flex-grow: 1;
   padding: 20px;
   background-color: inherit;
   outline: none;
}
