.icons {
  display: flex;
  gap: 4px;
  justify-content: end;
}

.buttons {
  display: flex;
  gap: 8px;
}

.cover {
  width: 118px;
  height: 48px;
  object-fit: cover;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.2s ease 0s;

  &:hover {
    opacity: 0.8;
  }
}
