.card {
   display: block;

   box-sizing: border-box;
   min-height: 288px;
   padding: 16px;
   border: 1px solid rgb(49 49 49 / 100%);
   border-radius: 2px;

   background-color: var(--color-dark-700);
   box-shadow:
      1px 1px 2px 0 rgb(0 0 0 / 10%),
      -1px -1px 2px 0 rgb(0 0 0 / 10%);
}
