.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 400px;
  padding: 37px 36px 44px;
}

.header {
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.text {
  max-width: 348px;
  margin-top: 19px;
  color: var(--color-light-900, rgb(195 193 199 / 100%));
}

.field {
  margin-bottom: 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  color: var(--color-light-900, rgb(195 193 199 / 100%));
}
