.name {
   overflow: hidden;
   max-width: 140px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.icons {
   display: flex;
   gap: 4px;
   justify-content: end;
}

.cover {
   width: 118px;
   height: 48px;
   object-fit: cover;
}

.link {
   display: flex;
   gap: 10px;
   align-items: center;
   transition: all 0.2s ease 0s;

   &:hover {
      opacity: 0.8;
   }
}
