.question {
   margin-bottom: 35px;
}

.questionText {
   display: flex;
   gap: 4px;
}

.count {
   display: flex;
   gap: 4px;
   margin-top: 2px;
   color: var(--color-dark-100);
}

.defaultButtonMargin {
   margin-top: 41px;
}

.buttonMarginWithImage {
   margin-top: 17px;
}
