.learn {
   width: 420px;
   padding: 33px 36px;
}

.linkContainer {
   margin-right: auto;
  margin-bottom: 36px;
}

.link {
   color: var(--color-light-100) !important;
   text-decoration: none !important;
   transition: color 0.2s ease 0s;

   &:hover {
      color: var(--color-dark-100) !important;
   }
}

.header {
   margin-bottom: 28px;
}
