.checkboxLabel {
   cursor: pointer;
   user-select: none;
   padding-left: 11px;

   &[aria-disabled='true'] {
      color: var(--color-dark-100);
   }
}

.checkboxWrapper {
   cursor: pointer;
   display: flex;
   align-items: center;

   &:has(.checkbox:disabled) {
      cursor: not-allowed;

      .checkboxLabel {
         cursor: not-allowed;
      }
   }
}

.checkbox {
   all: unset;

   position: relative;

   display: flex;
   flex-shrink: 0;
   align-items: center;
   justify-content: center;

   width: 18px;
   height: 18px;
   margin-top: 2px;

   background-color: inherit;

   transition: all 0.2s ease;

   &::before {
      content: '';

      position: absolute;

      width: 100%;
      height: 100%;
      border: 1px solid var(--color-light-900);
      border-radius: 2px;
   }

   &[data-state='checked'] {
      &::before {
         border-color: var(--color-light-100);
         background-color: var(--color-light-100);
         transition: all 0.2s ease;
      }
   }

   &:disabled {
      opacity: 0.5;

      &:hover {
         background-color: transparent;
         box-shadow: none;
      }
   }

   &:not(:disabled):hover,
   &:not(:disabled):active {
      border-radius: 50%;
   }

   &:not(:disabled):hover {
      background-color: var(--color-dark-500);
      box-shadow: 0 0 0 8px var(--color-dark-500);
   }

   &:not(:disabled):active,
   &:not(:disabled):focus-visible {
      background-color: var(--color-dark-100);
      box-shadow: 0 0 0 8px var(--color-dark-100);
   }
}

.checkboxIndicator {
   position: relative;
   z-index: 1;
   display: flex;
   color: var(--color-dark-900);
}
